
body {
    /* feel free to update these css variables for a quick theme */
    
    --color1: white;
    --color2: white;
    --color3: rgba(255, 253, 253, 0.235);
    --color4: rgba(255, 253, 253, 0.7);
    --color5: white;
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 10px;
    --footer-height: 25px;
    
    font-family: 'Ubuntu', sans-serif;
    background-image: url("../assets/castle.png");
    background-size: cover;
    background-position: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    text-shadow: 1px 1px 1px white;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

h3 {
    margin: 5px;
    font-size: 1.5rem;
}

.gutter-right {
    margin-right: 20px;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

#link {
    max-height: 200px;
    transform: scaleX(-1);
}

#link1 {
    max-height: 400px;
    transform: scaleX(-1);
    border:rgba(255, 253, 253, 0.7) 2px solid;
    border-radius: 15px;
}

#link2 {
    max-height: 600px;
    transform: scaleX(-1);
    border:rgba(255, 253, 253, 0.7) 3px solid;
    border-radius: 15px;
}

.hidden {
    visibility: hidden;
}

#game {
    flex-direction: row;
}

.render-goblin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.goblin {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.goblin-image {
    max-width: 400px;
}

.game-status {
    margin: 30px;
    background-color: var(--color4);
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    font-family: 'Syne Tactile', cursive;
    min-width: 200px;
}

#top-display {
    display: flex;
    flex-direction: row;
    background-color: var(--color4);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.dead {
    opacity: 0.4;
}

#player {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

#linkHP {
    margin: 5px;
    text-align: center;
}

#add-opponent {
    padding-left: 50px;
    margin-left: 70px; 
}

#add-goblin {
    font-size: 1.5rem;
}

button,
input {
    font-size: 1.2rem;
}

